auto-save-list/
elpa/
server/
url/
eln-cache/
transient/
abbrev_defs
.mc-lists.el
*.py[co]
*.elc
*~
*.bak
*.class
\#*\#
backup/
eshell/
.emacs.desktop*
tramp
image-dired
ido.last
smex-items
*.sqlite
/tree-sitter/
/history
